@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");
html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

@-webkit-keyframes move-arrow {
  25% {
    opacity: 1;
  }
  33.3% {
    opacity: 1;
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
  }
  66.6% {
    opacity: 1;
    -webkit-transform: translateY(30px);
            transform: translateY(30px);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(45px) scale(0.5);
            transform: translateY(45px) scale(0.5);
  }
}

@keyframes move-arrow {
  25% {
    opacity: 1;
  }
  33.3% {
    opacity: 1;
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
  }
  66.6% {
    opacity: 1;
    -webkit-transform: translateY(30px);
            transform: translateY(30px);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(45px) scale(0.5);
            transform: translateY(45px) scale(0.5);
  }
}
@-webkit-keyframes move-arrow-left {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: translatex(-10px) scale(1.2);
            transform: translatex(-10px) scale(1.2);
  }
}
@keyframes move-arrow-left {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: translatex(-10px) scale(1.2);
            transform: translatex(-10px) scale(1.2);
  }
}
.move-arrow-left:hover {
  -webkit-animation: move-arrow-left 0.5s linear infinite;
          animation: move-arrow-left 0.5s linear infinite;
}

@-webkit-keyframes move-arrow-right {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: translatex(10px) scale(1.2);
            transform: translatex(10px) scale(1.2);
  }
}

@keyframes move-arrow-right {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: translatex(10px) scale(1.2);
            transform: translatex(10px) scale(1.2);
  }
}
.move-arrow-right:hover {
  -webkit-animation: move-arrow-right 0.5s linear infinite;
          animation: move-arrow-right 0.5s linear infinite;
}

@-webkit-keyframes slide-in-bottom {
  0% {
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slide-in-bottom {
  0% {
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}
.slide-in-bottom {
  -webkit-animation: slide-in-bottom 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
          animation: slide-in-bottom 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

html {
  font-size: 125%;
}

.light {
  color: white;
}

.iconName {
  font-family: "Poppins", sans-serif;
  font-size: 0.8rem;
}

p {
  font-family: "Poppins", sans-serif;
  font-size: 0.8rem;
  line-height: 1.6;
}
p.nav {
  font-weight: bold;
  font-size: 1.5rem;
  color: white;
}
p.aboutText {
  font-size: 1rem;
}
p.footerText {
  font-size: 0.7rem;
  color: rgb(248, 249, 250);
}

h1, h2, h3, h4 {
  font-family: "Poppins", sans-serif;
  margin: 0;
}

ul, li, a, p {
  padding: 0;
  margin: 0;
  display: inline-block;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.3rem;
}

h4 {
  font-size: 1.5rem;
  font-weight: lighter;
}

i.light {
  font-size: 0.8rem;
}
i.fa-bars {
  font-size: 1rem;
}
i.social {
  font-size: 2rem;
  padding: 10px;
  margin-top: 15px;
  color: #8cc6ec;
}
i.projectIcon {
  font-size: 1.5rem;
}
i.fa-sass {
  font-size: 1.15rem;
}
i.fa-cloud {
  font-size: 1.15rem;
}
i.fa-instagram {
  -webkit-transition: all 0.25s ease-in;
  transition: all 0.25s ease-in;
}
i.fa-instagram:hover {
  color: rgb(206, 57, 219);
}
i.fa-linkedin {
  -webkit-transition: all 0.25s ease-in;
  transition: all 0.25s ease-in;
}
i.fa-linkedin:hover {
  color: #0e76a8;
}
i.fa-github {
  -webkit-transition: all 0.25s ease-in;
  transition: all 0.25s ease-in;
}
i.fa-github:hover {
  color: #0F0F0F;
}
i.fa-file {
  -webkit-transition: all 0.25s ease-in;
  transition: all 0.25s ease-in;
}
i.fa-file:hover {
  color: #243a63;
}

ul {
  font-size: 0.8rem;
  list-style: none;
  font-family: "Poppins", sans-serif;
}
ul.usedSkills li {
  padding: 3px 8px;
}

a {
  font-family: "Poppins", sans-serif;
  font-size: 0.8rem;
  text-decoration: none;
  color: inherit;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
a.projectLink {
  background-color: #255ea6;
  color: white;
  padding: 10px 8px;
}
a#email {
  padding-top: 40px;
  font-size: 1rem;
  color: #8cc6ec;
}
a.slideNav {
  padding-top: 20px;
  font-size: 1rem;
  color: white;
}

body {
  background-color: rgb(248, 249, 250);
}

.wrapper {
  max-width: 1600px;
  width: 80%;
  margin: 0 auto;
}

.topNav {
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  z-index: 40;
  width: 100%;
  background-color: #255ea6;
}
.topNav .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.topNav .wrapper .contactInfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.topNav .wrapper .contactInfo .phoneNumber {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.topNav .wrapper .contactInfo .phoneNumber p {
  padding-left: 10px;
}
.topNav .wrapper .contactInfo .menuButton {
  margin-left: 20px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 30px;
  height: 30px;
  cursor: pointer;
  z-index: 3000;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.topNav .wrapper .contactInfo .menuButton .hamburgerButton {
  width: 30px;
  height: 2px;
  background-color: white;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.topNav .wrapper .contactInfo .menuButton .hamburgerButton:before, .topNav .wrapper .contactInfo .menuButton .hamburgerButton:after {
  content: "";
  position: absolute;
  width: 30px;
  height: 2px;
  background-color: white;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.topNav .wrapper .contactInfo .menuButton .hamburgerButton:before {
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
}
.topNav .wrapper .contactInfo .menuButton .hamburgerButton:after {
  -webkit-transform: translateY(10px);
          transform: translateY(10px);
}

.menuButton.open .hamburgerButton {
  -webkit-transform: translateX(-50px);
          transform: translateX(-50px);
  background-color: transparent !important;
}

.menuButton.open .hamburgerButton:before {
  -webkit-transform: rotate(45deg) translate(35px, -35px) !important;
          transform: rotate(45deg) translate(35px, -35px) !important;
}

.menuButton.open .hamburgerButton:after {
  -webkit-transform: rotate(-45deg) translate(35px, 35px) !important;
          transform: rotate(-45deg) translate(35px, 35px) !important;
}

.appear {
  visibility: visible !important;
  opacity: 0.95 !important;
  -webkit-transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out;
}

.navAnimation {
  -webkit-animation: slide-in-bottom 1s;
          animation: slide-in-bottom 1s;
}

.slideOutNav {
  width: 100%;
  height: 100vh;
  position: fixed;
  left: 0;
  background-color: #255ea6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 2000;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.slideOutNav .slideNavigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.slideOutNav .slideNavigation .slideNav:hover {
  color: #8cc6ec;
}
.slideOutNav .navIcons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
  -webkit-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
}
.slideOutNav .navIcons i {
  position: relative;
  margin: 0 10px;
}
.slideOutNav .navIcons i:hover {
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
}
.slideOutNav .navIcons i:after {
  position: absolute;
  top: calc(50% - 10px);
  left: calc(50% - 10px);
  width: 20px;
  height: 20px;
  background-color: transparent;
  border-radius: 50%;
  content: "";
  z-index: -1;
  -webkit-transition: all 0.25s ease-in;
  transition: all 0.25s ease-in;
}
.slideOutNav .navIcons i:hover:after {
  -webkit-transform: scale(3);
          transform: scale(3);
  background-color: white;
}

.sideNav {
  position: fixed;
  z-index: 10;
  top: calc(50vh - 20px);
  right: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.sideNav button {
  background-color: transparent;
  border: transparent;
  position: absolute;
  right: 0px;
  top: -40px;
}
.sideNav button:hover {
  cursor: pointer;
}
.sideNav button img {
  height: 20px;
  width: 20px;
}
.sideNav button img.flip {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}
.sideNav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  right: -70px;
  -webkit-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
}
.sideNav ul.slideUl {
  right: 0px;
}
.sideNav ul a {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background-color: rgb(121, 121, 121);
  margin-right: 10px;
}
.sideNav ul p {
  -webkit-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
  color: rgb(121, 121, 121);
  opacity: 1;
}
.sideNav ul p.slideOut {
  visibility: hidden;
  opacity: 0;
}

header {
  background-color: #255ea6;
  height: 95vh;
  min-height: 500px;
  position: relative;
}
header .headerContent {
  width: 100%;
  height: 100%;
  position: relative;
}
header .headerContent img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  max-height: 100%;
  position: absolute;
}
header .scrollDown {
  position: absolute;
  bottom: 0px;
  left: calc(50% - 21px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
header .scrollDown img {
  position: absolute;
  top: -80px;
  width: 40px;
  height: 40px;
  -webkit-animation: move-arrow 3s ease-out infinite;
          animation: move-arrow 3s ease-out infinite;
  -webkit-transform: scale(0.4);
          transform: scale(0.4);
  opacity: 0;
}
header .scrollDown img.arrow:first-child {
  position: absolute;
  -webkit-animation: move-arrow 3s ease-out 1s infinite;
          animation: move-arrow 3s ease-out 1s infinite;
}
header .scrollDown img.arrow:nth-child(2) {
  position: absolute;
  -webkit-animation: move-arrow 3s ease-out 2s infinite;
          animation: move-arrow 3s ease-out 2s infinite;
}

html {
  scroll-behavior: smooth;
}

.projects {
  padding: 100px 0;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgb(248, 249, 250);
}
.projects h2 {
  margin-bottom: 60px;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.projects h2:before {
  position: absolute;
  width: 200px;
  height: 25px;
  top: 128px;
  background-color: #8cc6ec;
  content: "";
  z-index: -1;
}
.projects .projectBox {
  max-width: 1200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-shadow: 5px 5px 15px 5px rgba(46, 46, 46, 0.26);
          box-shadow: 5px 5px 15px 5px rgba(46, 46, 46, 0.26);
  margin: 40px 0;
}
.projects .projectBox .projectImgContainer {
  width: 40%;
}
.projects .projectBox .projectImgContainer img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.projects .projectBox .projectTextContainer {
  width: 60%;
  padding: 30px;
}
.projects .projectBox .projectTextContainer h3 {
  padding-bottom: 30px;
}
.projects .projectBox .projectTextContainer .skillsAndLinks {
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}
.projects .projectBox .projectTextContainer .skillsAndLinks .usedSkills {
  width: 67%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  color: #464646;
}
.projects .projectBox .projectTextContainer .skillsAndLinks .usedSkills li {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 35px;
}
.projects .projectBox .projectTextContainer .skillsAndLinks .usedSkills li .projectSkills {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.projects .projectBox .projectTextContainer .skillsAndLinks .usedSkills li .projectSkills i {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 40px;
  height: 35px;
}
.projects .projectBox .projectTextContainer .skillsAndLinks .links {
  width: 33%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.projects .projectBox .projectTextContainer .skillsAndLinks .links .projectLink {
  width: 120px;
  text-align: center;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
  margin-bottom: 12px;
}
.projects .projectBox .projectTextContainer .skillsAndLinks .links .projectLink:hover {
  background-color: rgb(248, 249, 250);
  color: #255ea6;
  -webkit-box-shadow: 0 0 0 2px #255ea6 inset;
          box-shadow: 0 0 0 2px #255ea6 inset;
}

.skills {
  background-color: rgb(189, 191, 192);
}
.skills .wrapper {
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 100px 0;
  max-width: 900px;
}
.skills .wrapper h2 {
  margin-bottom: 40px;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}
.skills .wrapper h2:before {
  position: absolute;
  width: 290px;
  height: 25px;
  top: 27px;
  background-color: #8cc6ec;
  content: "";
  z-index: -1;
}
.skills .wrapper .skillsContainer {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.skills .wrapper .skillsContainer .eachSkill {
  width: 16.6666666667%;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}
.skills .wrapper .skillsContainer .eachSkill i {
  font-size: 50px;
  color: white;
  margin: 40px 0 25px 0;
  position: relative;
  z-index: 10;
  -webkit-transition: all 0.25s ease-in;
  transition: all 0.25s ease-in;
}
.skills .wrapper .skillsContainer .eachSkill i:hover {
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
}
.skills .wrapper .skillsContainer .eachSkill i:hover + span {
  color: #255ea6;
  visibility: visible;
  top: 104px;
  opacity: 1;
}
.skills .wrapper .skillsContainer .eachSkill i:after {
  position: absolute;
  top: calc(50% - 10px);
  left: calc(50% - 10px);
  width: 20px;
  height: 20px;
  background-color: transparent;
  border-radius: 50%;
  content: "";
  z-index: -1;
  -webkit-transition: all 0.25s ease-in;
  transition: all 0.25s ease-in;
}
.skills .wrapper .skillsContainer .eachSkill i:hover:after {
  -webkit-transform: scale(4);
          transform: scale(4);
  background-color: #255ea6;
  -webkit-box-shadow: 0px 0px 5px 1px rgba(70, 70, 70, 0.26);
          box-shadow: 0px 0px 5px 1px rgba(70, 70, 70, 0.26);
}
.skills .wrapper .skillsContainer .eachSkill .iconName {
  color: #255ea6;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all 0.25s ease-in;
  transition: all 0.25s ease-in;
  position: absolute;
  top: 90px;
}

.aboutMe .wrapper {
  padding: 100px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 1000px;
}
.aboutMe .wrapper h2 {
  padding-bottom: 60px;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}
.aboutMe .wrapper h2:before {
  position: absolute;
  width: 345px;
  height: 25px;
  top: 27px;
  background-color: #8cc6ec;
  content: "";
  z-index: -1;
}
.aboutMe .wrapper .aboutContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.aboutMe .wrapper .aboutContainer .txtContainer {
  width: calc(65% - 20px);
  padding-right: 20px;
}
.aboutMe .wrapper .aboutContainer .txtContainer h4 span {
  font-weight: bold;
  border-bottom: 3px solid #255ea6;
  padding-bottom: 2px;
}
.aboutMe .wrapper .aboutContainer .txtContainer p {
  padding-top: 20px;
}
.aboutMe .wrapper .aboutContainer .imgContainer {
  height: 100%;
  width: 35%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.aboutMe .wrapper .aboutContainer .imgContainer img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
  border: 15px solid #255ea6;
  -webkit-box-shadow: 5px 5px 15px 5px rgba(46, 46, 46, 0.26);
          box-shadow: 5px 5px 15px 5px rgba(46, 46, 46, 0.26);
}

.contact {
  background-color: #255ea6;
}
.contact .wrapper {
  padding: 100px 0;
  max-width: 1000px;
}
.contact .wrapper h2 {
  padding-bottom: 60px;
  z-index: 1;
  position: relative;
}
.contact .wrapper h2:before {
  position: absolute;
  width: 370px;
  height: 25px;
  top: 27px;
  left: -15px;
  background-color: #8cc6ec;
  content: "";
  z-index: -1;
}
.contact .wrapper .contactSection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.contact .wrapper .contactSection .leftSection {
  width: calc(50% - 20px);
  margin-right: 20px;
  position: relative;
}
.contact .wrapper .contactSection .leftSection #email {
  -webkit-transition: all 0.25s ease-in;
  transition: all 0.25s ease-in;
  padding-bottom: 5px;
  border-bottom: solid 2px rgba(255, 255, 255, 0);
}
.contact .wrapper .contactSection .leftSection #email:hover {
  color: white;
  border-bottom: solid 2px rgb(255, 255, 255);
}
.contact .wrapper .contactSection .leftSection .socialIcons i {
  position: relative;
}
.contact .wrapper .contactSection .leftSection .socialIcons i:hover {
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
}
.contact .wrapper .contactSection .leftSection .socialIcons i:after {
  position: absolute;
  top: calc(50% - 10px);
  left: calc(50% - 10px);
  width: 20px;
  height: 20px;
  background-color: transparent;
  border-radius: 50%;
  content: "";
  z-index: -1;
  -webkit-transition: all 0.25s ease-in;
  transition: all 0.25s ease-in;
}
.contact .wrapper .contactSection .leftSection .socialIcons i:hover:after {
  -webkit-transform: scale(3);
          transform: scale(3);
  background-color: white;
}
.contact .wrapper .contactSection .contactForm {
  width: calc(50% - 20px);
  margin-left: 20px;
}
.contact .wrapper .contactSection .contactForm .commentForm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}
.contact .wrapper .contactSection .contactForm .commentForm .commentInputs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

footer {
  background-color: #255ea6;
  padding: 10px 0;
}
footer .footerText {
  color: white;
}

.commentInputs {
  width: 100%;
}

input, textarea {
  color: white;
  background-color: transparent;
  padding: 20px 15px;
  font-family: "Poppins", sans-serif;
  border: none;
  border-bottom: 2px solid rgb(189, 191, 192);
  margin-bottom: 10px;
  width: 100%;
}
input:focus, textarea:focus {
  border-bottom: 2px solid white;
}
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  font-size: 1rem;
  color: white;
  opacity: 1;
}
input::-moz-placeholder, textarea::-moz-placeholder {
  font-size: 1rem;
  color: white;
  opacity: 1;
}
input:-ms-input-placeholder, textarea:-ms-input-placeholder {
  font-size: 1rem;
  color: white;
  opacity: 1;
}
input::-ms-input-placeholder, textarea::-ms-input-placeholder {
  font-size: 1rem;
  color: white;
  opacity: 1;
}
input::placeholder, textarea::placeholder {
  font-size: 1rem;
  color: white;
  opacity: 1;
}

.submit {
  background-color: rgb(189, 191, 192);
  border: none;
  color: white;
  padding: 10px 20px;
  margin-top: 20px;
  border-radius: 5px;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.submit:hover {
  cursor: pointer;
  background-color: #255ea6;
  -webkit-box-shadow: 0 0 0 2px rgb(189, 191, 192) inset;
          box-shadow: 0 0 0 2px rgb(189, 191, 192) inset;
}
.submit:focus {
  background-color: #255ea6;
  border-style: inset;
  -webkit-box-shadow: 0 0 0 2px rgb(189, 191, 192) inset;
          box-shadow: 0 0 0 2px rgb(189, 191, 192) inset;
}

@media (max-width: 970px) {
  .sideNav {
    display: none;
  }

  .projects .projectBox {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .projects .projectBox .projectImgContainer {
    width: 60%;
    margin-top: 30px;
  }
  .projects .projectBox .projectTextContainer {
    width: 100%;
  }
  .projects .projectBox .projectTextContainer h3 {
    text-align: center;
  }

  .skills .wrapper .skillsContainer .eachSkill {
    width: 25%;
  }

  .aboutMe .wrapper .aboutContainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .aboutMe .wrapper .aboutContainer .txtContainer {
    width: 100%;
    padding-right: 0px;
  }
  .aboutMe .wrapper .aboutContainer .imgContainer {
    width: 50%;
    margin-bottom: 50px;
  }

  .contact .wrapper {
    padding: 100px 0;
    max-width: 1000px;
  }
  .contact .wrapper .contactSection {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .contact .wrapper .contactSection .leftSection {
    width: 100%;
    margin-right: 0px;
    margin-bottom: 20px;
  }
  .contact .wrapper .contactSection .contactForm {
    width: 100%;
    margin-left: 0px;
  }
}
@media (max-width: 600px) {
  p.nav {
    font-size: 1rem;
  }

  .projects .projectBox {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .projects .projectBox .projectImgContainer {
    width: 60%;
    margin-top: 30px;
  }
  .projects .projectBox .projectTextContainer .skillsAndLinks .usedSkills li {
    width: 100%;
  }
}
@media (max-width: 480px) {
  p.nav {
    font-size: 1rem;
  }
  p.aboutText {
    font-size: 0.8rem;
  }

  h2 {
    font-size: 1.5rem;
  }

  h4 {
    font-size: 1rem;
  }

  .projects h2:before {
    position: absolute;
    width: 143px;
    height: 20px;
    top: 120px;
  }

  .skills .wrapper h2:before {
    width: 215px;
    height: 20px;
    top: 19px;
    background-color: #8cc6ec;
    content: "";
    z-index: -1;
  }
  .skills .wrapper .skillsContainer .eachSkill i {
    font-size: 40px;
  }
  .skills .wrapper .skillsContainer .eachSkill i:hover + span {
    top: 95px;
  }
  .skills .wrapper .skillsContainer .eachSkill i:after {
    top: calc(50% - 8px);
    left: calc(50% - 8px);
    width: 16px;
    height: 16px;
  }
  .skills .wrapper .skillsContainer .eachSkill .iconName {
    top: 80px;
  }

  .aboutMe .wrapper h2:before {
    position: absolute;
    width: 255px;
    height: 20px;
    top: 19px;
  }
  .aboutMe .wrapper .aboutContainer .imgContainer {
    width: 70%;
  }

  .contact .wrapper h2:before {
    width: 284px;
    height: 20px;
    top: 19px;
    left: -15px;
    background-color: #8cc6ec;
    content: "";
    z-index: -1;
  }
}